.info {
	position: relative;

	display: grid;
	grid-template-columns: 180px 1fr 2fr;
	padding-right: 30px;
}

.arrow {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-left: auto;

	transition: transform .2s ease;

	&.active {
		transform: rotate(180deg);
	}
}