.link {
	display: flex;
	align-items: center;

	width: 100%;
	padding-inline: 16px;
	padding-block: 12px;

	transition: background-color .2s ease;
	
	&.disabled {
		pointer-events: none;
	}
	
	& .soon {
		background-color: var(--primary-color);
		padding: 6px;
		font-size: 12px;
		border-radius: 99px;
		color: var();
		margin-left: auto;
	}

	&:hover {
		background-color: rgba(0, 0, 0, .05);
	}

	&:active {
		background-color: rgba(0, 0, 0, .1);
	}

	&_icon {
		width: 16px;
		height: 16px;

		margin-left: auto;
	}
}