.modal {
	position: relative;

	background-color: var(--tg-theme-bg-color);
	padding-inline: 16px;
	padding-top: 25px;
	padding-bottom: 16px;

	&_close {
		position: absolute;
		top: 16px;
		left: 16px;
	}

	&_title {
		color: var(--primary-color);
		font-weight: 600;
	}
}

